.aboutsection {
  color: #4b5563;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color:#FAE7F3;
  
  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 6rem 1.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  
  
}

.content {
  text-align: center;
  width: 100%;
  
}

@media (min-width: 1024px) {
  .content {
    width: 66.666667%;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #be185d;
  text-align: center;
  
}

@media (min-width: 640px) {
  .title {
    font-size: 1.875rem;
  }
}

.description {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  text-align: center;
 
}

.description b {
  font-weight: 700;
}